@media screen and (max-width: 390px) {
    mat-card{
        margin: 18em auto;
    }
    .sign{
        font-style: italic;
        text-align: center;
        font-size: 25px;
        font-weight: 800;
    }

    h2{
        color: #059D42;
        font-size: 25px;
        font-weight: 800;
        text-align: center;
    }
}