<mat-card >
    <mat-card-content >
        <div class="header">
            LOGIN
        </div>

        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm"  >
            <div>
                <mat-form-field class="full-width" appearance="outline" >
                    <mat-label>Email</mat-label>
                    <input formControlName="email"  matInput required  maxlength="50">
                    <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
                        Email Address is required
                    </mat-error>
                    
                </mat-form-field>
               
            </div>
            <div>
                <span class="aLink"><a href="/forget-password"> Forgot Password</a></span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text' " required   maxlength="15"
                    />
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]=" 'hide Password'" [attr.aria-pressed]="hide" >
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    
                    <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
                        Password is required
                    </mat-error>
                    
                </mat-form-field>
            </div>
            
            <button mat-raised-button type="submit" color='primary'  >
                Login
            </button>

        
        </form>

    </mat-card-content>
</mat-card>


